<!DOCTYPE html>
<html>
    <head>
        <title>{{ murder.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>{{ murder.name }}</h1>

        <ul>
            <li>Auteur : {{ murder.author }}</li>
            <li>Date : {{ murder.date }} </li>
        </ul>

        <p>{{ murder.synopsis|linebreaksbr }}</p>

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    </body>
</html>
